# The New Project

In [2]:
import pandas as pd
import numpy as np

import scipy.stats as stats

In [3]:
import statsmodels.formula.api as sm
from matplotlib import pyplot as plt

%matplotlib inline

import seaborn as sns

df = pd.read_excel("IBM Employee Attrition.xlsx")
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,1,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,2,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,5,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,7,1,Male,...,3,4,1,6,3,3,2,2,2,2

In [4]:
#checking if there is a missing data

df.isnull().sum()

#No missing data

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [5]:
#To see if there are outliers
print(df['TotalWorkingYears'].quantile(.25))
print(df['MonthlyIncome'].quantile(.50))
print(df['YearsAtCompany'].quantile(.75))
print(df['YearsInCurrentRole'].quantile(.75))
print(df['YearsSinceLastPromotion'].quantile(.75))
print(df['YearsWithCurrManager'].quantile(.75))
print(df['TrainingTimesLastYear'].quantile(.75))
print(df['TotalWorkingYears'].quantile(.75))

6.0
4919.0
9.0
7.0
3.0
7.0
3.0
15.0

In [ ]:
#The dataset

In [18]:
#copying the original data
dfc = df.copy()
print(dfc.shape)

(1470, 30)